  <% @students.each do |student| %>
  <% @full_student_name = student.first_name + " " + student.last_name %>
    <div>
      <%= link_to @full_student_name, student_path(student.id) %>
    </div>
  <% end %>
